
{% extends "::base.html.twig" %}
{% block title %} {{data.title2}} | {{ destinateurData.id }}{% endblock %} 
{% block body %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{data.title2}}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        {% include "::msg.html.twig" %}
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <br />
                            <form action="{{path("home")}}chat/0"   method="POST" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label for="texte" class="control-label col-md-3 col-sm-3 col-xs-12">Votre message <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea required type="text" class="form-control" id="texte"  name="texte" placeholder="Ecrire votre message" value=" "></textarea>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">Effacer</button>
                                        <button type="submit" class="btn btn-success">Envoyer</button>
                                    </div>
                                </div>
                                <input type="hidden" id="id" name="id" value="{{destinateurData.id}}"/>
                                <input type="hidden" id="destinateur" name="destinateur" value="{{destinateurData.id}}"/>
                            </form>

                            {% for item in data.msgsData %}
                                <div class="separator">    
                                    <p>{{item.texte}} </p>
                                    <span class="label label-info">{{item.date|date("d/m/Y")}}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
